body{
    background-image: url('../assets/pw_maze_white.png');
    color: #36393D;
}
#banner{
    width: 100%;
}

a:visited{
    color: #4096EE;
}

a:link{
    color: #4096EE;
}

#nav{
    text-align: center;
}

.tab{
    font-family: sans-serif;
    font-size: 15px;
    padding: 10em;
    text-decoration: none;
}

h1, h2{
    text-align: center;
}
.centeredHead{
    font-style: italic;
    font-size: large;
}
.authorTag{
    font-size: medium;
    font-style: italic;
}
#personal{
    float: right;
    width: 20%;
}
