body{
    background-image: url('../assets/pw_maze_white.png');
}
#banner{
    width: 100%;
}

h1, h2{
    text-align: center;
}
.centeredHead{
    font-style: italic;
    font-size: large;
}
.authorTag{
    font-size: medium;
    font-style: italic;
}


