body{
    background-image: url('../assets/pw_maze_white.png');
    color: #36393D;
}
.centeredHead{
    text-align: center;
}
.sectionHead{
    text-align: left;
    font-style: bold;
}
.description{
    font-style: italic;
}
